bcrypt
beautifulsoup4
blinker
bs4
certifi
charset-normalizer
click
cloudinary
colorama
dnspython
email_validator
Flask
Flask-Bcrypt
Flask-Login
Flask-Mail
Flask-MySQLdb
Flask-Uploads
Flask-WTF
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
mysql-connector-python
mysqlclient
packaging
passlib
protobuf
requests
six
soupsieve
urllib3
Werkzeug
WTForms
